@model BMObjectionVModel
@{
    ViewBag.Title = "异议处理";
    Layout = "~/Views/Shared/_SysLayout.cshtml";
    string rs = ViewBag.RS;
    var backurl = ViewBag.ReturnUrl ?? "/BMObjection/Index";

    var refVModel = new ReferenceVModel();
    var NavList = refVModel.GetReferencesByRefGroupId(MorSun.Common.类别组.RefGroup.异议处理结果);
}
@Styles.Render("~/Content/themes/base/css")
@Scripts.Render("~/bundles/jqueryui")
<section class="featuredwhite">
    <div class="content-wrapper clear-fix">        
        <div class="topmenu alert @("alert-success".getBC("BootStrapCssAlert"))">
            @using (Html.BeginForm("Index", "BMObjection", FormMethod.Get))
            {
                @Html.TextBoxFor(m => m.sUserName, new { @class = "m-wrap small" })
                @MvcHtmlString.Create(Html.DropDownList("sResult", "sResult", NavList, Model.sResult.ToString(), "class=\"m-wrap small\"", "ID", "ItemValue", "", "==处理结果=="))
                @MvcHtmlString.Create(Html.DropDownList("sIsSettle", "sIsSettle", Model.SettleCollection, Model.sIsSettle.ToString().ToLower(), "class=\"m-wrap small\"", "Value", "Text", "", "==是否结算=="))
                @:提交时间 @Html.TextBox("sStartTime", Model.sStartTime.ToShortDateString(), new { @class = "Wdate", style = "width:100px;", onclick = "WdatePicker({dateFmt:'yyyy/MM/dd'})" })-@Html.TextBox("sEndTime", Model.sEndTime.ToShortDateString(), new { @class = "Wdate", style = "width:100px;", onclick = "WdatePicker({dateFmt:'yyyy/MM/dd'})" })
                @:处理时间 @Html.TextBox("hStartTime", Model.hStartTime.ToShortDateString(), new { @class = "Wdate", style = "width:100px;", onclick = "WdatePicker({dateFmt:'yyyy/MM/dd'})" })-@Html.TextBox("hEndTime", Model.hEndTime.ToShortDateString(), new { @class = "Wdate", style = "width:100px;", onclick = "WdatePicker({dateFmt:'yyyy/MM/dd'})" })
                <button class="btn yellow" type="submit">@("查询".GX())</button>
                @Html.HiddenFor(m => m.FlagTrashed)
            }
        </div>
        <div class="portlet box @("red".getBC("BootStrapCssTable"))">
            <div class="portlet-title">
                <div class="caption"><i class="icon-cogs"></i>异议处理</div>               
            </div>
            <div class="portlet-body">
                <table id="MoreSunTreeTable" class="table table-hover">
                    <thead>
                        <tr>
                            <th>用户名</th>
                            <th>提交时间</th>
                            <th>错题数量</th>
                            <th>处理时间</th>
                            <th>处理结果</th>
                            <th>确认错题数量</th>
                            <th>操作</th>                           
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.List)
                        {
                            <tr id="TR_@item.ID">
                                <td>
                                    @(item.aspnet_Users1 == null ? "" : item.aspnet_Users1.UserName)
                                </td>
                                <td>
                                    @item.SubmitTime
                                </td>    
                                <td>
                                    @item.ErrorNum
                                </td>  
                                <td>
                                    @item.HandleTime
                                </td>  
                                <td>
                                    @(item.wmfReference == null ? "" : item.wmfReference.ItemValue)
                                </td>  
                                <td>
                                    @item.ConfirmErrorNum
                                </td>                              
                                <td>
                                    @if (Model.FlagTrashed == "0")
                                    {
                                        if (rs.HP(操作.修改))
                                        {
                                            <button class="btn blue" type="button" onclick="jumptourl('/BMObjection/HDOB?id=@item.QAId&returnUrl=@(Url.Encode(Request.RawUrl))')">@("处理".GX())</button>
                                        }  
                                    }     
                                </td>
                            </tr>
                        }                    
                    </tbody>
                </table>
            </div>
        </div>
    </div>    
</section>
    @section Scripts {        
        @Scripts.Render("~/bundles/jqueryval")        
        @Scripts.Render("~/bundles/validator")
        @Styles.Render("~/Content/JQueryQtipCss")
        @Scripts.Render("~/bundles/jqueryqtip")
        @Scripts.Render("~/bundles/morsuncommon")  
        <script src="~/Content/DatePick/WdatePicker.js"></script>        
        <script type="text/javascript">             
        </script>
    }
